body{
  padding: 50px;


}
.flag{

  padding: 80px 15px;
  text-align: center;




}

.lead{
  padding-top: 50px;

}

.container{
  padding-top: 50px;
}


.position{
  margin-left: 300px;
}
